<!DOCTYPE html>
<html>
  <head>  
  <script type="text/javascript" src="crafty.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="gauge.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="swatch.css">
  </head>
  <body>
  <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">AB Display</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Projects <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="#">All Projects</a></li>
                <li class="divider"></li>
                <li><a href="#">Groove For Me</a></li>
              </ul>
            </li>
            <li>
              <a href="#">About</a>
            </li>
            <li>
              <a href="#">Contact</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">My Toolbelt<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Javascript</a></li>
                <li><a href="https://www.ruby-lang.org/en/">Ruby</a></li>
                <li class="divider"></li>
                <li><a href="http://expressjs.com/">Express</a></li>
                <li><a href="http://nodejs.org/">Node</a></li>
                <li><a href="http://craftyjs.com/">Crafty.js</a></li>
                <li><a href="http://sequelizejs.com/">Sequelize</a></li>

              </ul>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="bs-component">
      <div class="jumbotron">
      <div class="container">
        <div class="talkup"><h1>Groove For Me</h1>
        <p>Groove For Me is a simple DDR clone created with vanilla Javascript and the Crafty.js game engine.</p>
        </div>
        </div>
      </div>
    <div id="cr-stage">
      <canvas id="foo"></canvas>
      <div class="button">PLAY</div>
      <script type="text/javascript" src="components.js">
      </script>
    </div>
  </body>
</html>