
.button {
  display: none;
    cursor: pointer;
    width: 200px;
    position: absolute;
    height:40px;
    left: 200px;
    top: 200px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    border-radius: 5px; /* CSS3 */
    border:2px ridge white;
    background: red;
    color:#ffffff;
    text-align: center;
    line-height: 30px;
    bottom:20px;
    z-index: 100;
    font-family: 'Helvetica', sans-serif;
}
